{% extends 'Clinic_app/base.html' %}
{% block content %}
<div class="align-items-center justify-content-center">
    <div class="row ">
      <div class="col-lg-7 mx-auto">
        <div class="card mt-2 mx-auto p-4 bg-light">
            <div class="card-body bg-light">
                <h1 class="text-center">Welcome to Clinic</h1>
            <div class = "container">
             <form action="{ % url 'accounts:register' %}" method="POST">
                {%csrf_token%}
            <div class="controls">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_name">First Name</label>
                            <input  type="text" class="form-control" id="floatingInput" placeholder="First Name" name="first_name" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_name">Last Name</label>
                            <input  type="text" class="form-control" id="floatingInput" placeholder="Last Name" name="last_name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Password">Password:</label>
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"></input>
                            </div>
                     </div></div>
                     <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="email">Email address:</label>
                                <input type="email" class="form-control" id="floatingInput" name="email"></input>
                                </div>
                         </div></div>
                     <div class="col-md-12">
                        <button type="submit" class="btn btn-secondary btn-send  pt-2 btn-block">Sign up</button>
                     </div>
                     <a class="text-center " href="{% url 'accounts:register' %}">I don't have </a>
                </div>
        </div>
         </form>
        </div>
        </div>
    </div>
    </div>
{% endblock%}


